@import url("https://fonts.googleapis.com/css?family=Noto+Serif:700|Open+Sans:400,600,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
.icon-rocket:before {
  content: url("../img/rocket.svg");
  display: inline-block; }

.icon-astro:before {
  content: url("../img/about.svg");
  display: inline-block; }

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; }

a {
  text-decoration: none;
  color: #2ba3df; }

.grid {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: auto;
  height: 100vh; }
  .grid .main-content {
    display: grid;
    grid-column: 1/14; }
  .grid.home, .grid.art {
    grid-template-rows: 10vh 80vh 10vh; }

.home {
  text-align: center; }
  .home h1 {
    color: #f7f7f7;
    font-family: "Noto Serif", serif;
    font-size: 28em;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1; }

.art {
  text-align: center; }
  .art h1 {
    color: #f7f7f7;
    font-family: "Noto Serif", serif;
    font-size: 28em;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1; }

header {
  display: grid;
  grid-column: 1/14;
  align-items: center;
  z-index: 100; }
  header ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    header ul li {
      padding: 0 20px; }
      header ul li:first-child {
        text-align: left; }
      header ul li:last-child {
        text-align: right; }
  header .profile svg {
    max-width: 50px;
    opacity: .5;
    transition: .5s ease; }
  header .profile a {
    position: relative; }
    header .profile a:after {
      background: rgba(133, 133, 133, 0.5);
      border-radius: 2px;
      color: #fff;
      display: inline-block;
      content: 'profile';
      font-family: "Open Sans", sans-serif;
      font-size: 10px;
      opacity: 0;
      padding: 5px 10px;
      position: absolute;
      text-transform: uppercase;
      top: -22px;
      right: -70px;
      transition: .5s ease; }
    header .profile a:hover svg, header .profile a:focus svg {
      opacity: 1;
      transition: .25s ease; }
    header .profile a:hover:after, header .profile a:focus:after {
      opacity: 1;
      transition: .25s ease;
      transition-delay: 1s; }
  header .profile .st0 {
    fill: #D3D3D3; }
  header .profile .st1 {
    fill: #969696; }
  header .profile .st2 {
    fill: #FFFFFF; }
  header .logo {
    padding: 0 20px; }
    header .logo svg {
      fill: #858585;
      opacity: .5;
      max-width: 50px;
      transition: .5s ease; }
    header .logo a {
      position: relative; }
      header .logo a:after {
        background: rgba(133, 133, 133, 0.5);
        border-radius: 2px;
        color: #fff;
        display: inline-block;
        content: 'home';
        font-family: "Open Sans", sans-serif;
        font-size: 10px;
        opacity: 0;
        padding: 5px 10px;
        position: absolute;
        text-transform: uppercase;
        top: -22px;
        left: -70px;
        transition: .5s ease; }
      header .logo a:hover svg {
        opacity: 1;
        transition: .25s ease; }
      header .logo a:hover:after {
        opacity: 1;
        transition: .25s ease;
        transition-delay: 1s; }

footer {
  display: grid;
  grid-column: 1/14;
  align-items: center;
  justify-content: center;
  overflow: hidden; }
  footer .navBtn {
    background: none;
    border: 0;
    border-radius: 50%;
    color: #858585;
    display: block;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translateX(-50%);
    transition: .75s ease;
    z-index: 700; }
    footer .navBtn:before {
      filter: grayscale(100%);
      width: 50px;
      height: 50px;
      transition: 1s ease;
      z-index: 999; }
    footer .navBtn:after {
      background: #2ba3df;
      border-radius: 4px 4px 50% 50%;
      content: '';
      display: block;
      width: 10px;
      height: 20px;
      opacity: .5;
      position: relative;
      top: -40px;
      left: 50%;
      transform: translateX(-50%);
      transition: .5s ease;
      z-index: -1; }
    footer .navBtn:hover, footer .navBtn:focus {
      cursor: pointer;
      outline: none; }
      footer .navBtn:hover:before, footer .navBtn:focus:before {
        transform: rotate(-45deg);
        transition: .25s ease; }
      footer .navBtn:hover:after, footer .navBtn:focus:after {
        top: -20px;
        transition: .5s ease; }
  footer .navBg {
    background: #2ba3df;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s ease;
    z-index: 999; }
    footer .navBg:hover, footer .navBg:focus {
      cursor: url("../img/cursor-x.png"), auto; }
  footer.navBgOpen .navBtn {
    top: -100px;
    transition: .75s ease-out; }
    footer.navBgOpen .navBtn:after {
      display: none; }
  footer.navBgOpen .navBg {
    width: 3000px;
    height: 3000px;
    top: -150%;
    transition: 2s ease; }
  footer.navBgOpen nav {
    opacity: 1;
    visibility: visible;
    transition-delay: .75s;
    transition-duration: 1s;
    transition-timing-function: ease; }

nav {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .5s ease;
  visibility: hidden;
  z-index: 9999; }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    nav ul li a {
      color: #1e8cc4;
      display: block;
      font-family: "Noto Serif", serif;
      font-size: 125px;
      line-height: 1.2;
      width: 100%; }
      nav ul li a:hover, nav ul li a:focus {
        color: #fff; }

.main-content {
  position: relative; }
  .home .main-content {
    align-items: center; }
    .home .main-content .astro {
      display: block;
      position: absolute;
      top: 45%;
      left: 25%; }
      .home .main-content .astro img {
        display: inline-block;
        position: relative;
        width: 250px;
        transition: .5s ease;
        animation: astro 2.5s infinite ease-in-out; }
      .home .main-content .astro:after {
        background: #e6e6e6;
        border-radius: 50%;
        content: '';
        display: block;
        width: 100px;
        height: 18px;
        position: absolute;
        bottom: -75px;
        left: 50%;
        transform: translateX(-50%);
        animation: astro-shadow 2.5s infinite ease-in-out; }
  .art .main-content .astro {
    display: block;
    position: absolute;
    top: 45%;
    right: 15%; }
    .art .main-content .astro img {
      display: inline-block;
      position: relative;
      width: 250px;
      transition: .5s ease;
      animation: astro 2.5s infinite ease-in-out; }
    .art .main-content .astro:after {
      background: #e6e6e6;
      border-radius: 50%;
      content: '';
      display: block;
      width: 60px;
      height: 12px;
      position: absolute;
      bottom: -75px;
      left: 75%;
      transform: translateX(-50%);
      animation: astro-shadow-2 2.5s infinite ease-in-out; }

@keyframes astro {
  0% {
    top: -18px; }
  50% {
    top: 0; }
  100% {
    top: -18px; } }
@keyframes astro-shadow {
  0% {
    width: 125px;
    height: 22px;
    background: #f2f2f2; }
  50% {
    width: 100px;
    height: 18px;
    background: #e6e6e6; }
  100% {
    width: 125px;
    height: 22px;
    background: #f2f2f2; } }
@keyframes astro-shadow-2 {
  0% {
    width: 75px;
    height: 15px;
    background: #f2f2f2; }
  50% {
    width: 60px;
    height: 12px;
    background: #e6e6e6; }
  100% {
    width: 75px;
    height: 15px;
    background: #f2f2f2; } }

/*# sourceMappingURL=styles.css.map */
