@charset "UTF-8";
/* Slider */
@import url("https://fonts.googleapis.com/css?family=Noto+Serif:700|Open+Sans:300,400,600,700|Merriweather:300,400,700|Ubuntu:400,700|Lusitana:700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
/* Icons */
@font-face {
  font-family: "slick";
  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

.icon-rocket:before {
  content: url("../img/rocket.svg");
  display: inline-block; }
@media screen and (max-width: 767px) {
  .icon-rocket:before {
    content: url("../img/rocket-white.svg"); } }

.icon-astro:before {
  content: url("../img/about.svg");
  display: inline-block; }

@font-face {
  font-family: 'devicon';
  src: url("../fonts/devicon.eot?-hdf3wh");
  src: url("../fonts/devicon.eot?#iefix-hdf3wh") format("embedded-opentype"), url("../fonts/devicon.woff?-hdf3wh") format("woff"), url("../fonts/devicon.ttf?-hdf3wh") format("truetype"), url("../fonts/devicon.svg?-hdf3wh#devicon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="devicon-"], [class*=" devicon-"] {
  font-family: 'devicon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.devicon-sketch-line-wordmark:before {
  content: "\e94c"; }

.devicon-sketch-line:before {
  content: "\e94d"; }

.devicon-npm-original-wordmark:before {
  content: "\e952"; }

.devicon-yarn-plain-wordmark:before {
  content: "\e950"; }

.devicon-yarn-plain:before {
  content: "\e951"; }

.devicon-handlebars-plain-wordmark:before {
  content: "\e94a"; }

.devicon-handlebars-plain:before {
  content: "\e94b"; }

.devicon-behance-plain-wordmark:before {
  content: "\e943"; }

.devicon-behance-plain:before {
  content: "\e945"; }

.devicon-linkedin-plain-wordmark:before {
  content: "\e946"; }

.devicon-linkedin-plain:before {
  content: "\e947"; }

.devicon-webstorm-plain-wordmark:before {
  content: "\e938"; }

.devicon-webstorm-plain:before {
  content: "\e939"; }

.devicon-vuejs-line-wordmark:before {
  content: "\e92e"; }

.devicon-vuejs-line:before {
  content: "\e92f"; }

.devicon-vuejs-plain-wordmark:before {
  content: "\e930"; }

.devicon-vuejs-plain:before {
  content: "\e931"; }

.devicon-webpack-plain-wordmark:before {
  content: "\e928"; }

.devicon-webpack-plain:before {
  content: "\e929"; }

.devicon-slack-plain-wordmark:before {
  content: "\e924"; }

.devicon-slack-plain:before {
  content: "\e925"; }

.devicon-facebook-original:before,
.devicon-facebook-plain:before {
  content: "\e91c"; }

.devicon-babel-original:before,
.devicon-babel-plain:before {
  content: "\e921"; }

.devicon-sourcetree-original-wordmark:before,
.devicon-sourcetree-plain-wordmark:before {
  content: "\e914"; }

.devicon-sourcetree-original:before,
.devicon-sourcetree-plain:before {
  content: "\e913"; }

.devicon-github-original-wordmark:before,
.devicon-github-plain-wordmark:before {
  content: "\e90a"; }

.devicon-github-original:before,
.devicon-github-plain:before {
  content: "\e909"; }

.devicon-confluence-original-wordmark:before,
.devicon-confluence-plain-wordmark:before {
  content: "\e90e"; }

.devicon-confluence-original:before,
.devicon-confluence-plain:before {
  content: "\e90d"; }

.devicon-bitbucket-original-wordmark:before,
.devicon-bitbucket-plain-wordmark:before {
  content: "\e910"; }

.devicon-bitbucket-original:before,
.devicon-bitbucket-plain:before {
  content: "\e90f"; }

.devicon-safari-line-wordmark:before {
  content: "\e632"; }

.devicon-safari-line:before {
  content: "\e63a"; }

.devicon-safari-plain-wordmark:before {
  content: "\e63b"; }

.devicon-safari-plain:before {
  content: "\e63c"; }

.devicon-heroku-line-wordmark:before,
.devicon-heroku-original-wordmark:before {
  content: "\e60a"; }

.devicon-heroku-line:before,
.devicon-heroku-original:before {
  content: "\e60b"; }

.devicon-heroku-plain-wordmark:before {
  content: "\e60c"; }

.devicon-heroku-plain:before {
  content: "\e60f"; }

.devicon-android-plain-wordmark:before {
  content: "\e60d"; }

.devicon-android-plain:before {
  content: "\e60e"; }

.devicon-apple-original:before,
.devicon-apple-plain:before {
  content: "\e622"; }

.devicon-backbonejs-plain-wordmark:before {
  content: "\e62c"; }

.devicon-backbonejs-plain:before {
  content: "\e62d"; }

.devicon-bootstrap-plain-wordmark:before {
  content: "\e62e"; }

.devicon-bootstrap-plain:before {
  content: "\e62f"; }

.devicon-bower-line-wordmark:before {
  content: "\e630"; }

.devicon-bower-line:before {
  content: "\e631"; }

.devicon-bower-plain-wordmark:before {
  content: "\e64e"; }

.devicon-bower-plain:before {
  content: "\e64f"; }

.devicon-chrome-plain-wordmark:before {
  content: "\e665"; }

.devicon-chrome-plain:before {
  content: "\e666"; }

.devicon-css3-plain-wordmark:before {
  content: "\e678"; }

.devicon-css3-plain:before {
  content: "\e679"; }

.devicon-firefox-plain-wordmark:before {
  content: "\e75d"; }

.devicon-firefox-plain:before {
  content: "\e75e"; }

.devicon-git-plain-wordmark:before {
  content: "\e7a7"; }

.devicon-git-plain:before {
  content: "\e7a8"; }

.devicon-google-original-wordmark:before,
.devicon-google-plain-wordmark:before {
  content: "\e91d"; }

.devicon-google-original:before,
.devicon-google-plain:before {
  content: "\e91e"; }

.devicon-grunt-line-wordmark:before {
  content: "\e7a9"; }

.devicon-grunt-line:before {
  content: "\e7aa"; }

.devicon-grunt-plain-wordmark:before {
  content: "\e7ea"; }

.devicon-grunt-plain:before {
  content: "\e7eb"; }

.devicon-gulp-plain:before {
  content: "\e7ec"; }

.devicon-html5-plain-wordmark:before {
  content: "\e7f6"; }

.devicon-html5-plain:before {
  content: "\e7f7"; }

.devicon-ie10-original:before,
.devicon-ie10-plain:before {
  content: "\e7f8"; }

.devicon-illustrator-line:before {
  content: "\e7f9"; }

.devicon-javascript-plain:before {
  content: "\e845"; }

.devicon-jquery-plain-wordmark:before {
  content: "\e849"; }

.devicon-jquery-plain:before {
  content: "\e84a"; }

.devicon-less-plain-wordmark:before {
  content: "\e853"; }

.devicon-photoshop-line:before {
  content: "\eb6c"; }

.devicon-photoshop-plain:before {
  content: "\eb6d"; }

.devicon-react-original-wordmark:before,
.devicon-react-plain-wordmark:before {
  content: "\e600"; }

.devicon-react-original:before,
.devicon-react-plain:before {
  content: "\e601"; }

.devicon-sass-original:before,
.devicon-sass-plain:before {
  content: "\ebcb"; }

.devicon-trello-plain-wordmark:before {
  content: "\ebce"; }

.devicon-trello-plain:before {
  content: "\ebcf"; }

.devicon-ubuntu-plain:before {
  content: "\ebd1"; }

.devicon-wordpress-plain-wordmark:before {
  content: "\ebfd"; }

.devicon-wordpress-plain:before {
  content: "\ebfe"; }

.devicon-atom-original-wordmark:before,
.devicon-atom-plain-wordmark:before {
  content: "\e623"; }

.devicon-atom-original:before,
.devicon-atom-plain:before {
  content: "\e624"; }

html, body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden; }
  @media screen and (max-width: 992px) {
    html, body {
      overflow-y: visible; } }

.let-scroll {
  overflow-y: scroll; }

.menu-open {
  overflow: hidden; }

a {
  color: #ff376f;
  font-weight: 600;
  text-decoration: none; }
  a:hover, a:focus {
    color: #ea0041; }

p {
  color: #5f5f5f;
  font-size: 18px;
  line-height: 1.8;
  font-weight: 300;
  margin: 0;
  padding: 10px 0; }

.mobile {
  display: none; }
  @media screen and (max-width: 767px) {
    .mobile {
      display: block; } }

.default {
  text-align: center; }
  .default h1 {
    color: #f2f2f2;
    font-family: "Ubuntu", sans-serif;
    font-size: 28em;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1; }
    @media screen and (max-width: 992px) {
      .default h1 {
        font-size: 180px;
        top: 50px; } }
    @media screen and (max-width: 767px) {
      .default h1 {
        font-size: 130px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0); } }

.main-content {
  display: block;
  position: relative;
  width: 100%;
  height: 100%; }
  .main-content h2 {
    color: #5f5f5f; }
  .main-content .content {
    text-align: left; }
    .main-content .content .author {
      text-align: right; }
  @media screen and (max-width: 992px) {
    .main-content .content, .main-content .content-full {
      padding: 0 25px; } }
  @media screen and (max-width: 767px) {
    .main-content .content, .main-content .content-full {
      padding: 0 20px;
      margin-bottom: 25px; } }

.grid {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: auto;
  height: 100vh; }
  @media screen and (max-width: 767px) {
    .grid {
      display: block; }
      .grid .main-content {
        display: block;
        padding: 0 25px; } }

.home {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 80vh 10vh; }
  .home .main-content {
    position: absolute; }
    .home .main-content h1 {
      position: relative; }
    .home .main-content .astro {
      display: block;
      position: absolute;
      top: 45%;
      left: 25%; }
      .home .main-content .astro img {
        display: inline-block;
        position: relative;
        width: 250px;
        transition: .5s ease;
        animation: astro 2.5s infinite ease-in-out; }
      .home .main-content .astro:after {
        background: #e6e6e6;
        border-radius: 50%;
        content: '';
        display: block;
        width: 100px;
        height: 18px;
        position: absolute;
        bottom: -75px;
        left: 50%;
        transform: translateX(-50%);
        animation: astro-shadow 2.5s infinite ease-in-out; }
  @media screen and (max-width: 992px) {
    .home .main-content h1 {
      font-size: 160px;
      top: 150px; } }
  @media screen and (max-width: 767px) {
    .home {
      display: block; }
      .home .logo-m {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        width: 75px; }
        .home .logo-m svg {
          fill: #f2f2f2; }
      .home .main-content {
        overflow: hidden; }
        .home .main-content h1 {
          font-size: 120px;
          top: 100px; }
        .home .main-content .astro {
          top: 40%;
          left: 50%;
          margin-left: -100px; }
          .home .main-content .astro img {
            width: 150px; }
          .home .main-content .astro:after {
            width: 65px;
            height: 10px;
            animation: astro-shadow-mobile 2.5s infinite ease-in-out; } }

@keyframes astro {
  0% {
    top: -18px; }
  50% {
    top: 0; }
  100% {
    top: -18px; } }
@keyframes astro-shadow {
  0% {
    width: 125px;
    height: 22px;
    background: #f2f2f2; }
  50% {
    width: 100px;
    height: 18px;
    background: #e6e6e6; }
  100% {
    width: 125px;
    height: 22px;
    background: #f2f2f2; } }
@keyframes astro-shadow-mobile {
  0% {
    width: 85px;
    height: 14px;
    background: #f2f2f2; }
  50% {
    width: 65px;
    height: 10px;
    background: #e6e6e6; }
  100% {
    width: 85px;
    height: 14px;
    background: #f2f2f2; } }
.draw {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: 75px auto auto;
  overflow-y: visible; }
  .draw .main-content {
    position: relative;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: auto; }
    .draw .main-content h1 {
      top: 10%; }
    .draw .main-content .content {
      grid-column: 2/9;
      grid-row: 1; }
    .draw .main-content .art-carousel {
      grid-column: 1/14;
      grid-row: 2;
      margin-top: 100px;
      position: relative;
      width: 100%; }
      .draw .main-content .art-carousel img {
        position: relative;
        width: 100%; }
      .draw .main-content .art-carousel .slick-prev {
        width: 50px;
        height: 100%;
        left: 0;
        z-index: 50; }
        .draw .main-content .art-carousel .slick-prev:before {
          color: #858585;
          font-size: 50px; }
      .draw .main-content .art-carousel .slick-next {
        width: 50px;
        height: 100%;
        right: 0;
        z-index: 50; }
        .draw .main-content .art-carousel .slick-next:before {
          color: #858585;
          font-size: 50px; }
    .draw .main-content .content-full {
      text-align: left;
      grid-column: 2/13;
      grid-row: 3;
      margin: 25px 0 50px; }
    .draw .main-content .design-carousel {
      grid-column: 1/14;
      grid-row: 4;
      margin-top: 0;
      position: relative;
      width: 100%; }
      .draw .main-content .design-carousel img {
        position: relative;
        width: 100%; }
      .draw .main-content .design-carousel .slick-prev {
        width: 50px;
        height: 100%;
        left: 0;
        z-index: 50; }
        .draw .main-content .design-carousel .slick-prev:before {
          font-size: 50px; }
      .draw .main-content .design-carousel .slick-next {
        width: 50px;
        height: 100%;
        right: 0;
        z-index: 50; }
        .draw .main-content .design-carousel .slick-next:before {
          font-size: 50px; }
    .draw .main-content .octo {
      display: block;
      grid-column: 10/13;
      grid-row: 1;
      position: relative; }
      .draw .main-content .octo img {
        display: inline-block;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        transition: .5s ease;
        animation: octo 2.5s infinite ease-in-out; }
      .draw .main-content .octo:after {
        background: #e6e6e6;
        border-radius: 50%;
        content: '';
        display: block;
        width: 60px;
        height: 12px;
        position: absolute;
        bottom: -75px;
        left: 65%;
        transform: translateX(-50%);
        animation: octo-shadow 2.5s infinite ease-in-out; }
  .draw footer .navBtn {
    position: fixed;
    bottom: 0; }
  @media screen and (max-width: 992px) {
    .draw {
      display: block; }
      .draw .main-content {
        display: block; }
        .draw .main-content h1 {
          top: 50px; }
        .draw .main-content .octo {
          display: block;
          top: 85px;
          height: 300px; }
          .draw .main-content .octo img {
            width: 250px;
            right: -150px;
            left: auto; }
          .draw .main-content .octo:after {
            bottom: 30px;
            left: 75%; }
        .draw .main-content .art-carousel,
        .draw .main-content .design-carousel {
          margin-top: 25px;
          margin-bottom: 50px;
          position: relative;
          width: 100%; }
          .draw .main-content .art-carousel img,
          .draw .main-content .design-carousel img {
            position: relative;
            width: 100%; }
        .draw .main-content .design-carousel {
          margin-bottom: 0; }
      .draw footer .navBtn {
        position: fixed;
        bottom: 10px; } }
  @media screen and (max-width: 767px) {
    .draw {
      display: block; }
      .draw .main-content {
        display: block; }
        .draw .main-content h1 {
          top: 0; }
        .draw .main-content .octo {
          display: block;
          top: 85px;
          height: 300px; }
          .draw .main-content .octo img {
            width: 250px;
            right: -50px;
            left: auto; }
          .draw .main-content .octo:after {
            bottom: 30px;
            left: 70%; }
        .draw .main-content .art-carousel,
        .draw .main-content .design-carousel {
          margin-top: 0;
          margin-bottom: -8px; }
        .draw .main-content .content-full {
          margin-top: 58px; } }

@keyframes octo {
  0% {
    top: -18px; }
  50% {
    top: 0; }
  100% {
    top: -18px; } }
@keyframes octo-shadow {
  0% {
    width: 125px;
    height: 22px;
    background: #f2f2f2; }
  50% {
    width: 100px;
    height: 18px;
    background: #e6e6e6; }
  100% {
    width: 125px;
    height: 22px;
    background: #f2f2f2; } }
.develop {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 80vh 10vh;
  overflow: hidden; }
  .develop .main-content {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: auto; }
    .develop .main-content .content {
      grid-column: 2/9;
      grid-row: 1; }
    .develop .main-content .astro-play {
      grid-column: 10/13;
      grid-row: 1;
      display: block;
      position: relative;
      text-align: center; }
      .develop .main-content .astro-play img:first-child {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        transition: .5s ease;
        animation: tv-ps4 2.5s infinite ease-in-out;
        z-index: 15; }
      .develop .main-content .astro-play img:last-child {
        display: inline-block;
        position: relative;
        top: -50px;
        right: -30%;
        width: 60%;
        transition: .5s ease;
        animation: astro-play 2.5s infinite ease-in-out;
        z-index: 10; }
      .develop .main-content .astro-play:after {
        background: #e6e6e6;
        border-radius: 50%;
        content: '';
        display: block;
        width: 80px;
        height: 12px;
        position: absolute;
        top: 300px;
        left: 75%;
        transform: translateX(-50%);
        transform-origin: center;
        animation: astro-shadow-play 2.5s infinite ease-in-out; }
  .develop .dev-apps {
    margin: 25px 0; }
    .develop .dev-apps ul {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: auto;
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .develop .dev-apps ul li {
        padding: 5px 0; }
        .develop .dev-apps ul li i {
          color: #ababab; }
          .develop .dev-apps ul li i:before {
            font-size: 40px; }
          .develop .dev-apps ul li i:hover {
            color: #2ba3df; }
  @media screen and (max-width: 992px) {
    .develop {
      overflow-y: visible;
      display: block; }
      .develop .main-content {
        display: block; }
        .develop .main-content .astro-play {
          height: 300px;
          text-align: right;
          position: relative;
          top: 0px;
          right: 15%;
          z-index: -1; }
          .develop .main-content .astro-play img:first-child {
            width: 350px;
            animation: tv-ps4-mobile 2.5s infinite ease-in-out; }
          .develop .main-content .astro-play img:last-child {
            top: 50px;
            right: -20px;
            width: 200px;
            animation: astro-play-mobile 2.5s infinite ease-in-out; }
          .develop .main-content .astro-play:after {
            top: 280px;
            left: 90%; } }
  @media screen and (max-width: 767px) {
    .develop {
      overflow-y: visible;
      display: block; }
      .develop h1 {
        font-size: 130px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0); }
      .develop .main-content {
        display: block; }
        .develop .main-content .content {
          display: block; }
        .develop .main-content .astro-play {
          height: 300px;
          text-align: right;
          position: relative;
          top: 50px;
          right: 15%;
          z-index: -1; }
          .develop .main-content .astro-play img:first-child {
            width: 250px;
            animation: tv-ps4-mobile 2.5s infinite ease-in-out; }
          .develop .main-content .astro-play img:last-child {
            top: 50px;
            right: -20px;
            width: 150px;
            animation: astro-play-mobile 2.5s infinite ease-in-out; }
          .develop .main-content .astro-play:after {
            top: 280px;
            left: 90%; }
        .develop .main-content .dev-apps ul {
          grid-template-columns: repeat(5, 1fr); }
          .develop .main-content .dev-apps ul li {
            text-align: center; } }

@keyframes astro-play {
  0% {
    top: -50px; }
  50% {
    top: -70px; }
  100% {
    top: -50px; } }
@keyframes astro-play-mobile {
  0% {
    top: 30px; }
  50% {
    top: 50px; }
  100% {
    top: 30px; } }
@keyframes tv-ps4 {
  0% {
    top: -15px; }
  50% {
    top: 0; }
  100% {
    top: -15px; } }
@keyframes tv-ps4-mobile {
  0% {
    top: 115px; }
  50% {
    top: 100px; }
  100% {
    top: 115px; } }
@keyframes astro-shadow-play {
  0% {
    width: 80px;
    height: 18px;
    background: #f2f2f2; }
  50% {
    width: 60px;
    height: 12px;
    background: #e6e6e6; }
  100% {
    width: 80px;
    height: 18px;
    background: #f2f2f2; } }
.about {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 80vh 10vh;
  overflow: hidden; }
  .about header .profile .st0 {
    fill: #dedede; }
  .about header .profile .st1 {
    fill: #2ba3df; }
  .about header .profile .st2 {
    fill: #fff; }
  .about header .profile svg {
    opacity: 1; }
  .about .main-content {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: auto; }
    .about .main-content .content {
      grid-column: 2/9;
      grid-row: 1; }
    .about .main-content .balloon {
      display: block;
      grid-column: 10/13;
      grid-row: 1;
      position: absolute;
      top: 15%;
      right: 10%;
      width: 100%; }
      .about .main-content .balloon img {
        display: inline-block;
        position: relative;
        width: 100%;
        transition: .5s ease;
        animation: astro 2.5s infinite ease-in-out; }
  @media screen and (max-width: 992px) {
    .about {
      overflow-y: visible;
      display: block; }
      .about .main-content {
        display: block; }
        .about .main-content .content {
          display: block; }
        .about .main-content .balloon {
          height: 300px;
          text-align: right;
          overflow: hidden;
          position: relative;
          top: 50px;
          right: 20%;
          z-index: -1; }
          .about .main-content .balloon img {
            width: 300px; } }
  @media screen and (max-width: 767px) {
    .about {
      overflow-y: visible;
      display: block; }
      .about h1 {
        font-size: 130px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0); }
      .about .main-content {
        display: block; }
        .about .main-content .content {
          display: block; }
        .about .main-content .balloon {
          height: 300px;
          text-align: right;
          overflow: hidden;
          position: relative;
          top: 50px;
          right: 0;
          z-index: -1; }
          .about .main-content .balloon img {
            width: 250px; }
      .about header .profile .st0 {
        fill: #fff; }
      .about header .profile .st1 {
        fill: #2ba3df; }
      .about header .profile .st2 {
        fill: #fff; } }

header {
  display: grid;
  height: 75px;
  align-items: center;
  z-index: 100; }
  header ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    header ul li {
      padding: 0 20px; }
      header ul li:first-child {
        text-align: left; }
      header ul li:last-child {
        text-align: right; }
  header .profile svg {
    max-width: 50px;
    opacity: .5;
    transition: .5s ease; }
  header .profile a {
    position: relative; }
    header .profile a:after {
      background: rgba(133, 133, 133, 0.5);
      border-radius: 2px;
      color: #fff;
      display: inline-block;
      content: 'profile';
      font-family: "Open Sans", sans-serif;
      font-size: 10px;
      opacity: 0;
      padding: 5px 10px;
      position: absolute;
      text-transform: uppercase;
      top: -22px;
      right: -70px;
      transition: .5s ease; }
    header .profile a:hover svg, header .profile a:focus svg {
      opacity: 1;
      transition: .25s ease; }
    header .profile a:hover:after, header .profile a:focus:after {
      opacity: 1;
      transition: .25s ease;
      transition-delay: .5s; }
  header .profile .st0 {
    fill: #D3D3D3; }
  header .profile .st1 {
    fill: #969696; }
  header .profile .st2 {
    fill: #FFFFFF; }
  header .logo {
    padding: 0 20px; }
    header .logo svg {
      fill: #858585;
      opacity: .5;
      max-width: 50px;
      transition: .5s ease; }
    header .logo a {
      position: relative; }
      header .logo a:after {
        background: rgba(133, 133, 133, 0.5);
        border-radius: 2px;
        color: #fff;
        display: inline-block;
        content: 'home';
        font-family: "Open Sans", sans-serif;
        font-size: 10px;
        opacity: 0;
        padding: 5px 10px;
        position: absolute;
        text-transform: uppercase;
        top: -22px;
        left: -70px;
        transition: .5s ease; }
      header .logo a:hover svg, header .logo a:focus svg {
        opacity: 1;
        transition: .25s ease; }
      header .logo a:hover:after, header .logo a:focus:after {
        opacity: 1;
        transition: .25s ease;
        transition-delay: .5s; }
  @media screen and (max-width: 992px) {
    header {
      background: #333;
      display: block;
      height: auto;
      padding: 10px 0;
      position: fixed;
      bottom: 0;
      width: 100%; }
      header ul li:first-child {
        text-align: center; }
      header ul li:last-child {
        text-align: center; }
      header .logo a:hover:after, header .profile a:hover:after {
        display: none; }
      header .logo svg, header .profile svg {
        opacity: 1;
        width: 50px; }
      header .profile .st0 {
        fill: #fff; }
      header .profile .st1 {
        fill: #ababab; }
      header .profile .st2 {
        fill: #FFFFFF; }
      header .logo svg {
        fill: #fff; } }
  @media screen and (max-width: 767px) {
    header ul li:first-child {
      text-align: left; }
    header ul li:last-child {
      text-align: right; } }

footer {
  display: grid;
  align-items: center;
  height: 75px;
  justify-content: center;
  overflow: hidden;
  z-index: 100; }
  footer .navBtn {
    background: none;
    border: 0;
    border-radius: 50%;
    color: #858585;
    display: block;
    padding: 0;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    z-index: 700; }
    footer .navBtn:before {
      filter: grayscale(100%);
      width: 60px;
      height: 60px;
      transition: 1s ease;
      z-index: 999;
      transform: rotate(45deg); }
    footer .navBtn:after {
      background: #2ba3df;
      border-radius: 4px 4px 50% 50%;
      content: '';
      display: block;
      width: 10px;
      height: 20px;
      opacity: .5;
      position: relative;
      top: -40px;
      left: 50%;
      transform: translateX(-50%);
      transition: .5s ease;
      z-index: -1; }
    footer .navBtn:hover, footer .navBtn:focus {
      cursor: pointer;
      outline: none; }
      footer .navBtn:hover:before, footer .navBtn:focus:before {
        transform: rotate(0deg);
        transition: .25s ease; }
      footer .navBtn:hover:after, footer .navBtn:focus:after {
        top: -15px;
        transition: .5s ease; }
  footer .navBg {
    background: #2ba3df;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 2s ease;
    z-index: 999; }
    footer .navBg:hover, footer .navBg:focus {
      cursor: url("../img/cursor-x.png"), auto; }
  footer.navBgOpen {
    overflow: hidden; }
    footer.navBgOpen .navBtn {
      bottom: 110%;
      transition: .75s ease-out;
      z-index: 9999; }
      footer.navBgOpen .navBtn:after {
        display: none; }
    footer.navBgOpen .navBg {
      width: 5000px;
      height: 5000px;
      bottom: -150%;
      transition: 3.5s ease; }
    footer.navBgOpen nav {
      opacity: 1;
      visibility: visible;
      transition-delay: .75s;
      transition-duration: 1s;
      transition-timing-function: ease; }
  @media screen and (max-width: 992px) {
    footer {
      height: 75px;
      overflow: hidden; }
      footer .navBtn {
        position: fixed;
        bottom: 5px;
        transition: .75s ease-out; }
        footer .navBtn:before {
          width: 45px;
          transform: rotate(0deg);
          transition: .75s ease-out; }
        footer .navBtn:after {
          display: none; }
      footer .navBg {
        transition: 1s ease-out; }
      footer.navBgOpen .navBtn {
        bottom: 120%;
        transition: 1s ease; }
      footer.navBgOpen .navBg {
        width: 3000px;
        height: 3000px;
        bottom: -20%;
        transition: 2s ease; }
      footer.navBgOpen nav {
        opacity: 1;
        visibility: visible;
        transition-delay: .75s;
        transition-duration: 1s;
        transition-timing-function: ease; } }

nav {
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .5s ease;
  visibility: hidden;
  z-index: 9999; }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    nav ul li a {
      color: #1e8cc4;
      display: block;
      font-family: "Ubuntu", sans-serif;
      font-size: 180px;
      line-height: 1.2;
      width: 100%;
      transition: .75s ease; }
      nav ul li a:hover, nav ul li a:focus {
        color: #fff;
        transition: .25s ease; }
  @media screen and (max-width: 767px) {
    nav ul li a {
      font-size: 125px; } }

/*# sourceMappingURL=styles.css.map */
