.draw {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 75px auto auto;
    overflow-y: visible;

    .main-content {
        position: relative;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(13, 1fr);
        grid-template-rows: auto;

        h1 {
            top: 10%;
        }

        .content {
            grid-column: 2/8;
            grid-row: 1;
        }

        .art-carousel {
            grid-column: 1/14;
            grid-row: 2;
            margin-top: 100px;
            position: relative;
            width: 100%;

            img {
                position: relative;
                width: 100%;
            }

            .slick-prev {
                left: 0;
                z-index: 50;

                &:before {
                    font-size: 50px;
                }
            }

            .slick-next {
                right: 30px;
                z-index: 50;

                &:before {
                    font-size: 50px;
                }
            }
        }

        .content-2 {
            text-align: left;
            grid-column: 2/8;
            grid-row: 3;
            margin: 25px 0 50px;
        }

        .design-carousel {
            grid-column: 1/14;
            grid-row: 4;
            margin-top: 0;
            position: relative;
            width: 100%;

            img {
                position: relative;
                width: 100%;
            }

            .slick-prev {
                left: 0;
                z-index: 50;

                &:before {
                    font-size: 50px;
                }
            }

            .slick-next {
                right: 30px;
                z-index: 50;

                &:before {
                    font-size: 50px;
                }
            }
        }

        .octo {
            display: block;
            grid-column: 9/13;
            grid-row: 1;
            position: relative;

            img {
                display: inline-block;
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                transition: .5s ease;
                animation: octo 2.5s infinite ease-in-out;
            }

            &:after {
                background: darken($white, 10%);
                border-radius: 50%;
                content: '';
                display: block;
                width: 60px;
                height: 12px;
                position: absolute;
                bottom: -75px;
                left: 65%;
                transform: translateX(-50%);
                animation: octo-shadow 2.5s infinite ease-in-out;
            }
        }
    }

    footer {
        .navBtn {
            position: fixed;
            bottom: 0;
        }
    }

    @media screen and (max-width: 992px) {
        display: block;

        .main-content {
            display: block;

            .octo {
                display: block;
                top: 85px;
                height: 300px;

                img {
                    width: 250px;
                    right: -150px;
                    left: auto;
                }

                &:after {
                    bottom: 30px;
                    left: 75%;
                }
            }

            .art-carousel,
            .design-carousel {
                margin-top: 25px;
                margin-bottom: 50px;
                position: relative;
                width: 100%;

                img {
                    position: relative;
                    width: 100%;
                }
            }

            .design-carousel {
                margin-bottom: 0;
            }
        }
    }

    @media screen and (max-width: 767px) {
        display: block;

        .main-content {
            display: block;

            .octo {
                display: block;
                top: 85px;
                height: 300px;

                img {
                    width: 250px;
                    right: -50px;
                    left: auto;
                }

                &:after {
                    bottom: 30px;
                    left: 70%;
                }
            }

            .art-carousel,
            .design-carousel {
                margin-top: 0;
                margin-bottom: -8px;
            }
        }
    }
}

@keyframes octo {
    0% {top: -18px}
    50% {top: 0}
    100% {top: -18px}
}

@keyframes octo-shadow {
    0% {width: 125px; height: 22px; background: darken($white, 5%);}
    50% {width: 100px; height: 18px; background: darken($white, 10%);}
    100% {width: 125px; height: 22px; background: darken($white, 5%);}
}