footer {
    display: grid;
    grid-column: 1/14;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .navBtn {
        background: none;
        border: 0;
        border-radius: 50%;
        color: $gray;
        display: block;
        position: absolute;
        left: 50%;
        top: 90%;
        transform: translateX(-50%);
        transition: .75s ease;
        z-index: 700;

        &:before {
            filter: grayscale(100%);
            width: 50px;
            height: 50px;
            transition: 1s ease;
            z-index: 999;
        }

        &:after {
            background: $blue;
            border-radius: 4px 4px 50% 50%;
            content: '';
            display: block;
            width: 10px;
            height: 20px;
            opacity: .5;
            position: relative;
            top: -40px;
            left: 50%;
            transform: translateX(-50%);
            transition: .5s ease;
            z-index: -1;
        }

        &:hover,
        &:focus {
            cursor: pointer;
            outline: none;

            &:before {
                transform: rotate(-45deg);
                transition: .25s ease;
            }

            &:after {
                top: -20px;
                transition: .5s ease;
            }
        }
    }

    .navBg {
        background: $blue;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 110%;
        left: 50%;
        transform: translateX(-50%);
        transition: 1s ease;
        z-index: 999;

        &:hover,
        &:focus {
            cursor: url('../img/cursor-x.png'), auto;
        }
    }

    &.navBgOpen {
        .navBtn {
            top: -100px;
            transition: .75s ease-out;

            &:after {
                display: none;
            }
        }

        .navBg {
            width: 3000px;
            height: 3000px;
            top: -150%;
            transition: 2s ease;
        }

        nav {
            opacity: 1;
            visibility: visible;
            transition-delay: .75s;
            transition-duration: 1s;
            transition-timing-function: ease;
        }
    }
}