footer {
    display: grid;
    align-items: center;
    height: 75px;
    justify-content: center;
    overflow: hidden;
    z-index: 100;

    .navBtn {
        background: none;
        border: 0;
        border-radius: 50%;
        color: $gray;
        display: block;
        padding: 0;
        position: absolute;
        left: 50%;
        bottom: 20px;
        transform: translateX(-50%);
        z-index: 700;

        &:before {
            filter: grayscale(100%);
            width: 50px;
            height: 50px;
            transition: 1s ease;
            z-index: 999;
            transform: rotate(45deg);
        }

        &:after {
            background: $blue;
            border-radius: 4px 4px 50% 50%;
            content: '';
            display: block;
            width: 10px;
            height: 20px;
            opacity: .5;
            position: relative;
            top: -40px;
            left: 50%;
            transform: translateX(-50%);
            transition: .5s ease;
            z-index: -1;
        }

        &:hover,
        &:focus {
            cursor: pointer;
            outline: none;

            &:before {
                transform: rotate(0deg);
                transition: .25s ease;
            }

            &:after {
                top: -15px;
                transition: .5s ease;
            }
        }
    }

    .navBg {
        background: $blue;
        border-radius: 50%;
        width: 0px;
        height: 0px;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: 2s ease;
        z-index: 999;

        &:hover,
        &:focus {
            cursor: url('../img/cursor-x.png'), auto;
        }
    }

    &.navBgOpen {
        overflow: hidden;

        .navBtn {
            bottom: 110%;
            transition: .75s ease-out;
            z-index: 9999;

            &:after {
                display: none;
            }
        }

        .navBg {
            width: 5000px;
            height: 5000px;
            bottom: -150%;
            transition: 3.5s ease;
        }

        nav {
            opacity: 1;
            visibility: visible;
            transition-delay: .75s;
            transition-duration: 1s;
            transition-timing-function: ease;
        }
    }

    @media screen and (max-width: 992px) {
        height: 75px;
        overflow: hidden;

        .navBtn {
            position: fixed;
            bottom: 10px;
            transition: .75s ease-out;

            &:before {
                width: 45px;
                transform: rotate(0deg);
                transition: .75s ease-out;
            }

            &:after {
                display: none;
            }
        }

        .navBg {
            transition: 1s ease-out;
        }

        &.navBgOpen {
            .navBtn {
                bottom: 120%;
                transition: 1s ease;
            }

            .navBg {
                width: 3000px;
                height: 3000px;
                bottom: -20%;
                transition: 2s ease;
            }

            nav {
                opacity: 1;
                visibility: visible;
                transition-delay: .75s;
                transition-duration: 1s;
                transition-timing-function: ease;
            }
        }
    }
}