.home {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 80vh 10vh;

    .main-content {
        position: absolute;

        h1 { position: relative; }

        .astro {
            display: block;
            position: absolute;
            top: 45%;
            left: 25%;

            img {
                display: inline-block;
                position: relative;
                width: 250px;
                transition: .5s ease;
                animation: astro 2.5s infinite ease-in-out;
            }

            &:after {
                background: darken($white, 10%);
                border-radius: 50%;
                content: '';
                display: block;
                width: 100px;
                height: 18px;
                position: absolute;
                bottom: -75px;
                left: 50%;
                transform: translateX(-50%);
                animation: astro-shadow 2.5s infinite ease-in-out;
            }
        }
    }

    @media screen and (max-width: 767px) {
        display: block;

        .main-content {

            h1 { font-size: 120px; }

            .astro {
                top: 35%;
                left: 50%;
                margin-left: -100px;

                img {
                    width: 200px;
                }
            }
        }
    }
}

@keyframes astro {
    0% {top: -18px}
    50% {top: 0}
    100% {top: -18px}
}

@keyframes astro-shadow {
    0% {width: 125px; height: 22px; background: darken($white, 5%);}
    50% {width: 100px; height: 18px; background: darken($white, 10%);}
    100% {width: 125px; height: 22px; background: darken($white, 5%);}
}