nav {
    opacity: 0;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s ease;
    visibility: hidden;
    z-index: 9999;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {

            a {
                color: darken($blue, 8%);
                display: block;
                font-family: $font-title;
                font-size: 125px;
                line-height: 1.2;
                width: 100%;

                &:hover,
                &:focus { color: $white; }
            }
        }
    }
}